.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag {
    width:800px;
    height:400px;
    margin:auto;
}

.stripe {
    width:200px;
    height: 100%;
    float: left;
}
.green{
    background:#007a5e;
}
.red{
    background:#ce1126;
    font-size:160px;
    line-height: 65px;
    text-align: center;
    color:#fcd116
}
.yellow{
    background-color:#fcd116;
}